 .main {
  border: 6px green solid;
  background-color: black;
  width: 500px;
  height: auto;
  border-radius: 50px;
  animation-name: slidein;
  animation-duration: 2s;
  margin: auto;
  position: relative; 
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.title, .under {
  color: green;
  padding: 0px;
}
.title a:hover, .under a:hover {
  color: red;
}
.btn1, .btn2, .btn3, .btn4 {
  color: green;
  background-color: #000000;
  font-size: 20px;
  border-radius: 51122px;
  border: green solid;
  margin: 10px;
  position: relative;
  width: inherit;
  height: 40px;
}

  
.btn1:hover,.btn2:hover, .btn3:hover, .btn4:hover {
  color: red;
  border: red solid;
  font-size: 22px;
}
.output {
  color: green;
  font-size: 10px;
}
.output:onhover {
  color: red;
  font-size: 15px;
}
  .exit {
    font-size: 20px;
    background-color: black;
    border: green solid;
    border-radius: 51122px;
    padding:6px 6px 6px 6px;
    margin:-5021px 470px;
    position:relative;
  }
  .exit:onhover {
    color: red;
    border: red solid;
  }
@keyframes slidein {
  0% {
    opacity: 0%
  }
  100% {
    opactiy: 100%
  }
}
